body {
	background-color: #ffccae;
	background-image: url("..//Slike/ana-logo-320.png");
	background-repeat: no-repeat;
}
nav {
	font-family: Georgia, "Times New Roman", serif;
}
#navig {
	position: fixed;
	list-style: none;
	float: left;
	margin-top: 110px;
	margin-left: 260px;
}
#navig li {
	display: inline-block;
	margin: 20px;
}
li {
	background-color: #eee8aa;
	width: 120px;
	border: 5px double #ff6eb4;
	border-left: solid #ff6eb4;
	border-right: solid #ff6eb4;
	padding: 10px;
	margin: 10px;
}

